.clients__menu {
  display: flex;
  justify-content: center;
  column-gap: 30px;
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  fill: var(--primary-fill-clients-icon);
  border: 1px solid var(--primary-fill-clients-icon);
  border-radius: 4px;
  transition: border-color var(--transition-dur-and-func), fill var(--transition-dur-and-func);

  &:hover,
  &:focus {
    border-color: var(--accent-color);
    fill: var(--accent-color);
  }
}

.clients__logo {
  width: 106px;
  height: 60px;
}
